/** Global item styles **/

.annotorious-opacity-fade {
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-delay: 0s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
  -o-transition-property: opacity;
  -o-transition-duration: 0.5s;
  -o-transition-delay: 0s;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.annotorious-item-unfocus, .annotorious-item-unglow {
  opacity:0;
}

.annotorious-item-focus, .annotorious-item-glow {
  opacity:1.0;
}

/** Hint/help popup **/

.annotorious-hint-msg {
  background-color: #9C9DA1;
  margin: 5px;
  padding: 10px 8px 14px 38px;
  font-family: open-sans,Helvetica,Arial,sans-serif;
  line-height: normal;
  font-size: 14px;
  color: #fff;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -khtml-border-radius:4px;
}

.annotorious-hint-icon {
  position: absolute;
  top: 6px;
  left: 0px;
  background: url('selection_icon.png');
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  margin: 2px 4px 0px 6px;
  background-size: 36px,36px;
}

/** Popup **/

.annotorious-popup {
  line-height:135%;
  font-family:open-sans,Helvetica,Arial,sans-serif;
  font-size:12px;
  text-align: left;
  color:rgba(255,255,255,0.8);
  background-color:rgba(0,0,0,0.8);
  border:1px solid #ccc;
  padding:9px 8px;
  word-wrap:break-word;
  width:180px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-box-shadow:0px 5px 15px #111;  
  -webkit-box-shadow:0px 5px 15px #111;  
  box-shadow:0px 5px 15px #111;  

  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-delay: 0s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
  -o-transition-property: opacity;
  -o-transition-duration: 0.5s;
  -o-transition-delay: 0s;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.annotorious-popup-empty {
  color:#999;
  font-style:italic;
}

.annotorious-popup-buttons {
  float:right;
  margin:0px 0px 1px 10px;
  height:16px;
  
  -moz-transition-property: opacity;
  -moz-transition-duration: 1s;
  -moz-transition-delay: 0s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
  -webkit-transition-delay: 0s;
  -o-transition-property: opacity;
  -o-transition-duration: 1s;
  -o-transition-delay: 0s;
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: 0s; 
}

.annotorious-popup-button {
  font-size:12px;
  text-decoration:none;
  display:inline-block;
  color:#000;
  font-weight:bold;
  margin-left:5px;
  opacity:0.9;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-delay: 0s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
  -o-transition-property: opacity;
  -o-transition-duration: 0.5s;
  -o-transition-delay: 0s;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay: 0s; 
}

.annotorious-popup-button:hover {
  background-color:transparent;
}

.annotorious-popup-button-active {
  opacity:1;
}

.annotorious-popup-button-edit {
  background:url(pencil.png);
  width: 18px;
  height: 18px;
  text-indent: 100px;
  overflow: hidden;
  float: left;
  background-size: 18px, 18px;
  background-repeat: no-repeat;
}

.annotorious-popup-button-delete {
  background: url(delete.png);
  width: 18px;
  height: 18px;
  text-indent: 100px;
  overflow: hidden;
  float: right;
  background-size: 18px, 18px;
  background-repeat: no-repeat;
}

.annotorious-popup-field {
  border-top:1px solid #ccc;
  margin:6px 0px 0px 0px;
  padding-top:2px;
}

/*Tooltip*/

/*.top-left:after, .annotorious-editor:after {
  content:url(Indicator.png);
  pointer-events: none;
  position:absolute;
  left:15px;
  top:-14px;
  height:18px;
  width:19px;
  display:block;
}

.top-right:after {
  content:url(Indicator.png);
  pointer-events: none;
  position:absolute;
  right:15px;
  top:-14px;
  height:18px;
  width:19px;
  display:block;  
}*/

/** Editor **/

.annotorious-editor {
  line-height: normal;
  padding:0px 0px 2px 0px;
  background-color:rgba(0,0,0,0.8);
  color:rgba(255,255,255,0.8);
  border:1px solid #ccc;
  border-radius: 3px;
  border-color: rgba(255,255,255,0.8);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
}

.annotorious-editor-text {
  border-width:0px 0px 1px 0px;
  border-style:solid;
  border-color:rgba(255,255,255,0.8);
  line-height: normal;
  background-color:rgba(0,0,0,0.8);
  width:240px;
  height:50px;
  outline:none;
  font-family:open-sans,Helvetica,Arial,sans-serif;
  font-size:14px;
  padding:4px;
  margin:0px;  
  color:rgba(255,255,255,0.8);
  text-shadow:none;
  overflow-y:auto;
  display:block;
}

.annotorious-editor-button-container {
  padding-top:2px;
}

.annotorious-editor-button {
  float:right;
  line-height: normal;
  display:inline-block;
  text-align:center;
  text-decoration:none;
  font-family:open-sans,Helvetica,Arial,sans-serif;
  font-size:12px;
  font-weight: bold;
  color:rgba(255,255,255,0.8);
  padding:3px 8px;
  margin:1px 2px 0px 1px;
  cursor:pointer;
  cursor:hand;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  -khtml-border-radius:2px;
  border-radius:2px;
}

.annotorious-editor-button:hover {
  background:#999;
}

.annotorious-editor-field {
  border-bottom:1px solid #ccc;
  margin:0px;
  background-color:#fff;
  padding:3px;
  font-family:open-sans,Helvetica,Arial,sans-serif;
  font-size:12px;	
}

/** OpenLayers module **/
.annotorious-ol-boxmarker-outer {
  border:1px solid #000;
}

.annotorious-ol-boxmarker-inner {
  border:1px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.annotorious-ol-hint {
  line-height: normal;
  font-family:open-sans,Helvetica,Arial,sans-serif;
  font-size:16px;
  color:#000;
  background-color:#fff;
  margin:0px;
  padding:9px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.annotorious-ol-hint-secondary {
  cursor: pointer;
  background-color:#fff000;
}

canvas {
  z-index: 2;
}

canvas.hidden {
  z-index: -1;
  visibility: hidden;
}
  
html.hasTouch .annotator-viewer li .annotator-controls, 
html.hasTouch .annotator-viewer li .annotator-controls {
  opacity: 1;
}
